
			/*public*/	
			body{margin-bottom: 30px;}	
			body a{text-decoration: none;}	
			.clearfix:after{display: block;content: ".";height:0;clear: both;overflow: hidden;visibility: hidden;}
			.threejiao_down_red{width: 0;height: 0;border-left: 5px solid transparent;border-right: 5px solid transparent;border-top: 5px solid #D91002;overflow: hidden;}
			.threejiao_down_gray{width: 0;height: 0;border-left: 5px solid transparent;border-right: 5px solid transparent;border-top: 5px solid #CCCCCC;overflow: hidden;}
			.threejiao_up_red{width: 0;height: 0;border-left: 5px solid transparent;border-right: 5px solid transparent;border-bottom: 5px solid #D91002;overflow: hidden;}		
			.threejiao_up_gray{width: 0;height: 0;border-left: 5px solid transparent;border-right: 5px solid transparent;border-bottom: 5px solid #CCCCCC;overflow: hidden;}
			.graident{  background:-moz-linear-gradient(top, #FFFFFF, #f8f8f8);
						background:-webkit-linear-gradient(top, #FFFFFF, #f8f8f8);
						background:-ms-linear-gradient(top, #FFFFFF, #f8f8f8);
						background:linear-gradient(top, #FFFFFF, #f8f8f8);
						-ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#FFFFFF, endColorstr=#f8f8f8)";
						+background:#f9f9f9;}
			.lf{float: left;}
			.rf{float: right;}			
			
			/*layout*/
			#header,#nav,#box{width: 960px;}
			#header,#search,#footer,.section,.ad,.side_section,.side_ad,.activity,.recommend{border-radius: 6px;}
			#search,#footer,.section,.side_section,.side_ad,.activity,.recommend{border: 1px solid #CCCCCC;}
			.section,.tab,.ad,.activity,.recommend{margin: 10px 10px 0 0;}
			#footer,.side_section,.side_ad{margin-top: 10px;}
			
			
			.wrap{width: 965px;margin: 0 auto;font-size: 12px;}
			#header{height:30px;}
			#nav{height: 100px;position: relative;}
			#search{width: 958px;height: 112px;position: relative;}
			#main{width: 724px;}
			#footer{width: 958px;height: 78px;}
			.section{width: 320px;padding:0 15px 0 15px;}
			#aside{width: 235px;}
			.tab{width: 352px;}
			.ad{width: 714px;height: 92px;overflow: hidden;}
			#main .ad img{width: 714px;height: 92px;}
			.side_ad{width: 233px;overflow: hidden;border: 1px solid #CCCCCC;border-radius: 5px;}
			.side_section{padding:0 12px;width: 209px;}
			
			#main .activity,.recommend{width: 350px;float: left;}
			/*-----------------------------------------------------------*/
			
			/*public area*/
			/*第二模块的公共标题*/
			.twobox_title{height:70px;width: 350px;position: relative;background: url(../img/100du/new_title_bg.gif) no-repeat right 0;}
			.twobox_title strong{position: absolute;top:23px;left:23px; font-family: arial;color: #D91002;font-weight: 700;}
			.twobox_title span{position: absolute;top: 40px;left: 24px;font-size: 20px;}
			.twobox_title em{position: absolute;top: 25px;left: 128px;font-size: 24px;color: #D91002;font-weight: bold;}
			
			.recommend .twobox_title{background-position: right -70px;}
			/*两列选项卡公共模块*/
			.tab{border: none;}
			.tab .store_btn{width: 352px;height: 36px;}
			.tab .store_content{width: 347px;height:386px;border: 1px solid #ccc;}
			.tab .store_btn button{display: inline-block; outline: none; border:none;width: 173px;margin-right:3px;height: 36px;border: 1px solid #ccc;border-bottom: none;border-top-left-radius: 8px;border-top-right-radius: 8px;cursor: pointer;}
			.tab .store_btn button i{display: inline-block;margin-left: 10px;}
			.tab .store_btn .on{background-color: #fff;border-bottom: 2px solid #FFFFFF;}
			.tab .store_btn button span{color: #D91002;font-weight: 700;}
			
			/*标题公共模块*/
			.main_title{height: 40px;line-height: 40px;position: relative;}
			.main_title strong{color: #cc0d13;font-family: arial;font-weight: 700;}
			.main_title span{color: #000;font-weight: 700;}
			.main_title a{position: absolute;right: 5px;}
			
			/*三列选项卡头部公共模块*/
			.tab_three{height: 25px;border-bottom: 1px solid #CCCCCC;position: relative;}
			.tab_three button{outline:none; text-indent: -5px;border: 1px solid #ccc;border-bottom: none;border-top-left-radius: 4px;border-top-right-radius: 4px;position: relative;top: 4px;}
			.tab_three button i{position: absolute;top: 8px;right: 6px;}
			.tab_three .on{background-color: #FFFFFF;border-bottom: 4px solid #FFFFFF;}
			
			/*列表公共模块*/
			.main_list{}
			.main_list li{height: 27px;;line-height: 27px;border-bottom: 1px dotted #dadada;background: url(../img/100du/dot.gif) no-repeat 5px 12px;}
			.main_list li a{text-decoration: none;color: #333333;display: block;text-indent: 14px;}
			.main_list li a:hover{color: #D91002;}
			.main_list li a span{color: #c3c3c3;}
			.main_list li a em{color: #c75d61;}
			.main_list li p{float: left;}
			
			.main_list .list_title{background: none;}
			.main_list .list_title p{text-align: center;color: #999999;}
			.main_list li .col1{width: 137px;}
			.main_list li .col2{width: 35px;text-align: center;}
			.main_list li .col3{width: 36px;text-align: center;}
			
			/*商品展示公用模块*/
			.tuijian_shop{width: 214px;height: 80px;}
			.tuijian_shop img{width: 95px;height: 70px;border: 1px solid #CCCCCC;float: left;padding: 1px;}
			.tuijian_shop .tj_shop_text{width: 115px;height: 78px;float: left;line-height: 20px;text-indent: 10px;padding-top: 5px;}
			.tuijian_shop .tj_shop_text h3 a{color: #D91002;font-size: 13px;}
			.tuijian_shop .tj_shop_text h3 a:hover{text-decoration: underline;}
			.tuijian_shop .tj_shop_text p{color: #666666;}
			.tuijian_shop .tj_shop_text span{color: #999999;}
